@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>非代理机构注册</title>
    <link href="../../style/base.css" rel="stylesheet" type="text/css" />
    <link href="../../style/frame.css" rel="stylesheet" type="text/css" />
    <link href="../../style/agencyRegister.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.9.0.js" type="text/javascript"></script>
    <script type="text/javascript">
        function FormSub() {
            $("#form1").submit();
        }
        function FormReset() {
            $("#uname").val("");
            $("#upwd").val("");
            $("#companyname").val("");
            $("#file1").val("");
            $("#file2").val("");
            $("#email").val("");
            $("#callnum").val("");
            $("#add").val("");
            $("#qq").val("");
        }
        function CheckForm() {
            if ($("#uname").val() == '') {
                alert('用户名不能为空');
                return false;
            }
            if ($("#upwd").val() == '') {
                alert('密码不能为空');
                return false;
            }
            if ($("#companyname").val() == '') {
                alert('企业名称不能为空');
                return false;
            }
            if ($("#file1").val() == '') {
                alert('证件一的附件未上传');
                return false;
            }
            if ($("#file2").val() == '') {
                alert('证件二的附件未上传');
                return false;
            }
            if ($("#add").val() == '') {
                alert('企业地址不能为空');
                return false;
            }
            if ($("#email").val() != '') {
                var reg = /\w+([-+.]\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
                if (reg.test($("#email").val()) == false) {
                    alert("email地址不合法,请重填");
                    $("#email").val("");
                    return false;
                }
             }
            if ($("#callnum").val() == '') {
                alert('联系号码不能为空');
                return false;
            }
            if ($("#callnum").val() != '') {
                //var reg2 = /^[0-9]*[1-9][0-9]*$/;
                var reg2 = /^((0\d{2,3}-\d{7,8})|(0\d{2,3}\d{7,8})|(\d{7,8})|(1[3584]\d{9}))$/;
                if (reg2.test($("#callnum").val()) == false) {
                    alert("联系号不合法,请重填");
                    $("#callnum").val("");
                    return false;
                }
            }
            if ($("#qq").val() != '') {
                var reg3 = /[1-9][0-9]{4,}/;
                if (reg3.test($("#qq").val()) == false) {
                    alert("qq号不合法,请重填");
                    $("#qq").val("");
                    return false;
                }
            }
            if ($("#IC1").val()== $("#IC2").val()) {
                alert('证件一与证件二的类型不能相同');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
         <!--  topNav  -->
    <div class="topNav oh">
	    <ul>
    	    <li class="fl">
        	    <a href="#"><img src="../images/login-logo.png" class="img-logo"></a>
            </li>
            <li class="fr tr">
                <p>欢迎进入马鞍山市知识产权局专利申请费用减缓系统</p>
                <p>@DateTime.Now.ToString("D")&nbsp&nbsp&nbsp<a href="/Login/Index?ty=2">返回</a></p>
            </li>
	    </ul>
    </div>
    <!--  topNav end  -->
    <!--  mainbody  -->
    <div class="mainbody">
        <div class="agencyRegister middle oh clear">
        <form  action="/UserRegister/Register" method="post" enctype="multipart/form-data" id="form1" onsubmit="return CheckForm()">
        <h1><span>非代理机构注册</span></h1>
        <ul class="clear oh">
        <li><span>用户名：</span><input type="text" name="uname" id="uname" /><b>*</b></li>
        <li><span>密码：</span><input type="password" name="upwd" id="upwd" /><b>*</b></li>
        <li><span>企业名称：</span><input type="text" name="companyname" id="companyname" /><b>*</b></li>
        <li><span>企业类型：</span><select name="busType" id="busType">
                            <option value="6">企业</option>
                            <option value="7">事业</option>
                            <option value="8">高校</option>
                            <option value="9">科研机构</option>
                            <option value="10">机关团体</option>
                            <option value="11">个人</option>
                        </select><b>*</b>
         </li>
         <li style="width: 90%;"><span>证件一：</span><select name="IC1" id="IC1">
                                   <option value="6">电子申请号批文</option>
                                   <option value="7">营业执照副本</option>
                                  </select><b>*</b>
                                 <input type="file" name="file1"  id="file1"/>                         
         </li>
         <li style="width: 90%;"><span>证件二：</span><select name="IC2" id="IC2">
                                    <option value="6">电子申请号批文</option>
                                    <option value="7">营业执照副本</option>
                                   </select><b>*</b>
                                    <input type="file" name="file2" id="file2" />  
        </li>
        <li><span>所属区县：</span>
         @Html.DropDownList("Area", ViewData["lfs"] as IEnumerable<SelectListItem>)
        <b>*</b>
        </li>
       <!--<span>法人代表：</span><input type="text" name="faren" id="faren" /><br />-->
        <li><span>E-mail：</span><input type="text" name="email" id="email"/></li>
        <li><span>联系号码：</span><input type="text" name="callnum" id="callnum"/><b>*</b></li>
        <li><span>QQ：</span><input type="text" name="qq" id="qq"/></li>
        <li style="width: 90%;"><span>企业地址：</span><input type="text" name="add" id="add" style="width: 685px;"/><b>*</b></li>
        </ul>
        <div class="btn tc oh clear">
        	@*<input type="image" src="../images/btn-common-submit.png"/>*@
            <img src="../images/btn-common-submit.png" id="sub"  onclick="FormSub()" style="cursor:pointer"/>
        	@*<input type="image" src="../images/btn-common-reset.png"/>*@
            <img src="../images/btn-common-reset.png" id="reset" onclick="FormReset()" style="cursor:pointer" />
        </div>
        </form>
       </div>
   </div>
  <!--  mainbody end  -->
</body>
</html>
