@{
    Layout = null;
}
@using MoneyRetard.Models;

<!DOCTYPE html>

<html>
<head>
    <title>欢迎界面</title>
<link type="text/css" rel="stylesheet" href="../../style/base.css">
<link type="text/css" rel="stylesheet" href="../../style/login.css">
</head>
<body>
    <!--  topNav  -->
<div class="topNav-outer oh">
	<div class="topNav"></div>
    <div class="text w1000 tr">
    	<p>欢迎进入马鞍山市知识产权局专利申请费用减缓系统</p>
		<p>@ViewData["now"] <a href="/Login/Index?ty=3">管理员通道</a></p>
    </div>
</div>
<!--  topNav end  -->

<!--  container  -->
<div class="container w1000 middle oh tc">
	
    <img src="../../images/login-logo.png" class="img-logo clear">
    
    <!--  welcome-outer  -->
    <div class="welcome-outer middle oh clear">
    	<div class="announ-outer clear fl oh"></div>
        <!--  通知公告  -->
        <div class="announ clear fl oh tl">
        	<h1>通知公告</h1>
            <div class="announ-scroll oh" id="demo">
                <div id="demo1">
                    <ul>
                        @foreach (Checked c in (List<Checked>)ViewData["wel"])
                        {
                            if (c.status == 0)
                            {
                            <li>专利 @c.Zl_Name <font color="red">未通过</font>审核</li>
                            
                            }
                            else if(c.status==2){ 
                                <li>专利 @c.Zl_Name 已通过审核</li>
                            }
                                
                            }
                    </ul>
                </div>
                <div id="demo2"></div>
            </div>
            <script>
                var speed = 50
                demo2.innerHTML = demo1.innerHTML
                function Marquee() {
                    if (demo2.offsetTop - demo.scrollTop <= 0)
                        demo.scrollTop -= demo1.offsetHeight
                    else {
                        demo.scrollTop++
                    }
                }
                var MyMar = setInterval(Marquee, speed)
                demo.onmouseover = function () { clearInterval(MyMar) }
                demo.onmouseout = function () { MyMar = setInterval(Marquee, speed) }
            </script>
        </div>
        <!--  通知公告 end  -->
        
        <div class="agency fr oh tl">
        	<ul>
        		<li><a href="../Login/Index?ty=1">非代理机构</a></li>
            	<li><a href="../Login/Index?ty=2">代理机构</a></li>
            </ul>
       	</div>
    	
    </div>
    <!--  welcome-outer end  -->


</div>
<!--  container end  --

<!--  footer  -->
<div class="footer oh tc">
	技术支持：安徽省钢之家超越电子商务有限公司
</div>
<!--  footer end  -->
</body>
</html>
